# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sin
*.uproject
*.Dotsettings.user

# debug information files
*.dwo

# UE engine folders
.idea
.vs
Binaries
Config
DerivedDataCache
Intermediate
Saved
.vsconfig
/Beadurinc.sln